@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Righteous&family=Ruluko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

nav{
    flex-grow: 1;
    align-items: center;
    display: flex!important;
    flex-basis: auto;
}